<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529235610678-i1spfic8pm8i4l0tpui3hie4ar5c4lvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529235610678-i1spfic8pm8i4l0tpui3hie4ar5c4lvk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529235610678-5t5l2bod0d8a84qjfjbjaioit37a1q6r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCROrq3j26CItUBTHichJLgLClczZUkJWE</string>
	<key>GCM_SENDER_ID</key>
	<string>529235610678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krifix.ios</string>
	<key>PROJECT_ID</key>
	<string>krifix-e17af</string>
	<key>STORAGE_BUCKET</key>
	<string>krifix-e17af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529235610678:ios:8381f86df9937eb6535c97</string>
</dict>
</plist>